.form__fieldset {
    margin:35vh auto;
    width: 45%;
    min-width: 360px;
    border: 2px solid hsl(120, 100%, 25%);
    background-color: hsla(120, 100%, 25%, 0.205);
}

.form__input {
    border: 2px solid hsl(0, 0%, 50%);
    width: 20%;
}

.form__label {
    text-align: center;
    display: block;
    background-color: hsla(103, 53%, 40%, 0.473);
    border: 1px solid hsl(120, 100%, 25%);
    border-radius: 10px;
    padding: 5px;
    font-weight: 600;
}

.form__output {
    text-align: center;
    display: block;
    background-color: hsla(103, 53%, 40%, 0.473);
    border: 1px solid hsl(120, 100%, 25%);
    border-radius: 10px;
    padding: 5px;
    font-weight: 600;
}

.form__selectBtn {
    background-color: hsl(0, 0%, 100%);
    border: none;
    font-weight: 800;
    margin: 5px;
    border: 2px solid hsl(0, 0%, 50%);
}

.form__legend {
    background-color: hsla(103, 53%, 40%, 0.473);
    border: 1px solid hsl(120, 100%, 25%);
    border-radius: 10px;
    padding: 5px;
    font-weight: 600;
}

.form__error {
    text-align: center;
    display: block;
    color:rgb(255, 102, 0);
    text-shadow: 1px 1px black;
    background-color: hsla(103, 53%, 40%, 0.473);
    border: 1px solid hsl(120, 100%, 25%);
    border-radius: 10px;
    padding: 5px;
    font-weight: 600;

}